---
layout: base
slug: frontpage
---

<p>The best way to teach is by example, and the best way to learn is from mistakes. To that end, I present to you all a collection of ill-informed thoughts and ill-formed code snippets.</p>

<hr />

<h2>The latest from the echo&nbsp;chamber</h2>

{% for post in site.posts limit:3 %}

<a class="post-link" href="{{ post.url }}">

	<h3 class="post-link-title">{{ post.title }}</h3>
	
	<p>{{ post.description }}</p>

</a>

{% endfor %}

<a class="callout" href="/echo/">See more&hellip;</a>

<hr />

<h2>Projects</h2>

{% include projects.html %}