---
layout: nil
title: Selfie
description: Now you can see me in full screen.
permalink: selfie/
---
<!DOCTYPE html>

<html lang="en-GB">

    <head>
    
        <meta charset="UTF-8" />
		
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.site-title }}</title>
			
			<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.site-description }}{% endif %}" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="author" href="https://plus.google.com/117513857627226982960/posts" />
		<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="forkThis, by D M Rutherford" />
		
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        
        <style>

html, body, a {
    margin:             0;
    overflow:           hidden;
    padding:            0;
}

html, body {
    height:             100%;
    width:              100%;
}

a {
    display:            block;
    float:              left;
    height:             5%;
    text-decoration:    none;
    width:              5%;
    -webkit-transition: 30s;
    -moz-transition:    8s;
    -o-transition:      8s;
    transition:         8s;
}

a:hover {
    -webkit-transition: 0s;
    -moz-transition:    0s;
    -o-transition:      0s;
    transition:         0s;
}

.a {
    background-color:   #101010;
    color:              #101010;
}

.a:hover {
    background-color:   #1b0e08;
    color:              #1b0e08;
}

.b {
    background-color:   #1c1c1c;
    color:              #1c1c1c;
}

.b:hover {
    background-color:   #34160b;
    color:              #34160b;
}

.c {
    background-color:   #272727;
    color:              #272727;
}

.c:hover {
    background-color:   #46200d;
    color:              #46200d;
}

.d {
    background-color:   #383838;
    color:              #383838;
}

.d:hover {
    background-color:   #5f3013;
    color:              #5f3013;
}

.e {
    background-color:   #4c4c4c;
    color:              #4c4c4c;
}

.e:hover {
    background-color:   #7b431a;
    color:              #7b431a;
}

.f {
    background-color:   #6d6d6d;
    color:              #6d6d6d;
}

.f:hover {
    background-color:   #a86228;
    color:              #a86228;
}

.g {
    background-color:   #9e9e9e;
    color:              #9e9e9e;
}

.g:hover {
    background-color:   #e39243;
    color:              #e39243;
}

.h {
    background-color:   #454545;
    color:              #454545;
}

.h:hover {
    background-color:   #833715;
    color:              #833715;
}

        </style>
		
		<!-- Google Analytics -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30693166-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    
    </head>
    
    <body>
    
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="g" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="h" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="f" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="e" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="c" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="d" href="../">dmr</a>
        <a class="b" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
        <a class="a" href="../">dmr</a>
    
    </body>

</html>