		{% if page.slug != "colophon" %}<footer>
		
			<a class="icon-colophon" href="/colophon/" title="View the site colophon"><span aria-hidden="true" data-icon="HTML ENTITY GOES HERE"></span><span class="screen-reader-text">Colophon</span></a><a class="icon-github" href="https://github.com/dmrutherford/" title="Form me on GitHub"><span aria-hidden="true" data-icon="HTML ENTITY GOES HERE"></span><span class="screen-reader-text">GitHub</span></a><a class="icon-rss" href="/feed.xml" title="Subscribe to the echoes"><span aria-hidden="true" data-icon="HTML ENTITY GOES HERE"></span><span class="screen-reader-text">RSS</span></a>
		
		</footer>
	
{% endif %}	</body>

</html>