html {
	background-color:			$bg-grey;
	background:					$corduroy;
	color:						white;
	font-size:					50%;
	height:						100%;
	min-height:					100%;
	-webkit-font-smoothing:		antialiased;
	-webkit-text-size-adjust:	100%;
	
	@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
		background:				$corduroy-2x;
		background-size:		12.8rem 12.8rem;
	}
	
	@media (min-width: 38em) {
		font-size:				62.5%;
	}
	
	@media (min-width: 46em) {
		font-size:				75%;
	}
}

	@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
		
		html {
			background:			$corduroy-2x;
			background-size:	12.8rem 12.8rem;
		}
		
	}

body {
	font-family:	$serif;
	font-size:		2rem;
	height:			100%;
	line-height:	1.5;
	margin:			0 auto;
	max-width:		59.2rem;
	min-height:		100%;
	padding:		0 1.6rem;
}