// COLOURS

$blue:			#2385b8;
$blue-light:	darken($blue, 10%);
$blue-dark:		darken($blue, 10%);


// FONTS

$serif:	'Century Schoolbook', Century, Baskerville, Georgia, serif;
$sans:	'Source Sans Pro', 'Lucida Grande', Verdana, sans-serif;
$mono:	'Source Code Pro',
		'Consolas',
		'Andale Mono',
		'Lucida Console',
		'DejaVu Sans Mono',
		'Courier New',
		monospace;


// IMAGES

$leather: url('/img/leather.png');
$leather-2x: url('/img/leather@2x.png');
$leather-fallback: #373737;